button {
    cursor: pointer;
    background: #d819ff;
    color: #ffffff;
    width: 355px;
    height: 71px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 21px;
  }
  .input-group button {
    width: 170px;
    margin: 5px;
  }
  @media (max-width: 768px){
    button {
        width: 250px;
      }
  }
  @media (max-width: 650px) {
    .input-group button {
        cursor: pointer;
        font-size: 12px;
        width: 100px;
      }
  }
  @media (max-width: 351px) {
    button {
        font-size: 15px;
        width: 150px;
      }
      .input-group button {
        height: 60px;
        width: 90px;
      }
  }
  